/* Inner head */
.innerhead{
    background:$gray-bg;
    padding:$padding-masthead 0 $padding-section 0;
    @media #{$media-not-desktop} {
        padding:$padding-masthead/2 0 $padding-section/2 0;
    }
}